/* HEADER */
#slider {
	width:100%;
	margin:0px auto;
	padding-top:10px;
	margin-left:23px;
	height:390px;
	overflow:hidden;
}
.headerimg { background-position: center top; background-repeat: no-repeat; width:954px; height:390px; position:absolute; }

/* NAVIGATION 
#nav-outer { height:110px; padding-top:11px; position:relative; top:24px; background-image:url("../images/headerbg.png"); }
#navigation { height:100px; width:960px; margin:0 auto; background-image:url("../images/logo.png"); background-position:top left; background-repeat:no-repeat; }
*/

/* SEARCH */
#search { background-image:url("../images/search-bg.png"); color:#f9f9f9; float:left; width:312px; padding:10px; margin:10px; }
#searchtxt { padding:3px; width:150px; }
#searchbtn { border:1px solid #eee !important; background-color:#CD2B3A; color:#eee; padding:3px; margin-left:5px; }

/* MENU 
#menu { position:relative; top:85px; }
#menu ul { list-style:none; }
#menu ul li { display:inline; font-variant:small-caps; font-size:12px; }
#menu ul li a { color:white; text-decoration:none; font-weight:bold; padding-right:20px; }
#menu ul li a:hover { text-decoration:underline; }
*/

/* HEADER TEXT */
#headertxt {background-image:url("../images/bg_trans.png"); color:#f9f9f9; float:left; width:auto; position:relative; top:350px; margin-left:-450px; padding-right:10px; }
/*
.pictured { background-color:#CC3333; color:#FFF; font-size:12px; padding:9px 16px; text-transform:uppercase; float:left; display:block; clear:both; margin-top:10px; }
.pictured a { font-size:16px; font-style:italic; letter-spacing:0; text-transform:none; color:#FFF; text-decoration:none; }
.pictured a:hover { text-decoration:underline; }
*/

/* CONTROLS */
.btn { height:32px; width:32px; float:left; cursor:pointer; }
#back { background-image:url("../images/btn_back.png"); }
#next { background-image:url("../images/btn_next.png"); }
#control { background-image:url("../images/btn_pause.png"); }

/* HEADER HAVIGATION */
#headernav-outer { color:#333; position:relative; display:block; top:350px; right:-500px; margin:0 auto; width:auto; }
#headernav { padding-right:15px;}

/* CONTENT 
#content { color:#575757; background-color:#eee; }
#content p { padding:10px 20px; font-size:16px; width:960px; margin:0 auto; }
#content p a { text-decoration:none; color:#CD2B3A; }
#content p a:hover { text-decoration:underline; color:#7F000C; }
*/